<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Realizar Reservación</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ingresar Datos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="disabled"><a href="#criterios" data-toggle="tab">Criterios de Búsqueda</a>
                        </li>
                        <li class="disabled"><a href="#seleccion" data-toggle="tab">Seleccionar Habitación</a>
                        </li>
                        <li class="active"><a href="#datos" data-toggle="tab">Ingresar Datos</a>
                        </li>
                        <li class="disabled"><a href="#registrar" data-toggle="tab">Registrar Reservación</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="ingresarDatos">
                            <h4>Ingrese sus Datos Personales</h4>
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-7">
                                    <form action="/busquedahabitacion/register" method="GET">

                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="nombre" class="form-control" id="nom" aria-describedby="Ingrese su nombre" placeholder="Ingrese su nombre">
                                        </div>

                                        <div class="form-group">
                                            <label>Apellido</label>
                                            <input type="apellido" class="form-control" id="apellido" aria-describedby="Ingrese su apellido" placeholder="Ingrese su apellido">
                                        </div>

                                        <div class="form-group">
                                            <label>Cédula/Pasaporte</label>
                                            <input type="cedPas" class="form-control" id="cedPas" aria-describedby="Ingrese Cédula o Pasaporte" placeholder="Ingrese Cédula o Pasaporte">
                                        </div>

                                        <div class="form-group">
                                            <label>Correo Electrónico</label>
                                            <input type="email" class="form-control" id="email" aria-describedby="Ingrese su Correo Electrónico" placeholder="Ingrese su Correo Electrónico">
                                        </div>

                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <input type="direccion" class="form-control" id="direccion" aria-describedby="Ingrese su dirección" placeholder="Ingrese su dirección">
                                        </div>
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="telefono" class="form-control" id="telefono" aria-describedby="Ingrese su Teléfono de contacto" placeholder="Ingrese su Teléfono de contacto">
                                        </div>

                                        <button type="submit" class="btn btn-default">Siguiente</button>
                                        <!--                                        <button type="reset" class="btn btn-default">Limpiar Campos</button>-->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="seleccion">
                            <h4>Profile Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="datos">
                            <h4>Messages Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="registrar">
                            <h4>Settings Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->