<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Información del Hotel</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hotel Patrick Chung
                </div>
                <div class="panel-body">
                    <p align="justify">Al ser un hotel 5 estrellas nos preocupamos por ofrecer el mejor servicio a nuestros clientes. Nuestro hotel cuenta con 20 pisos, cada uno con una gran variedad de habitaciones para los diferentes gustos de nuestros clientes. Si desea realizar una reserva, por favor diríjase a la página adecuada seleccionándola en el panel izquierdo.</p>
                </div>
                <div class="panel-footer">
                    Administración
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cliente Satisfecho
                </div>
                <div class="panel-body">
                    <p align="justify">El servicio del hotel fue de primera. Pude realizar mi reservación desde esta página sin ninguna complicación y seleccionando la habitación que más se adecuó a mis necesidades. Para cuando llegué mi habitación ya estaba lista.</p>
                </div>
                <div class="panel-footer">
                    Edison Liu
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cliente Satisfecho
                </div>
                <div class="panel-body">
                    <p align="justify">Al finalizar mi reservación, no me fijé que había ingresado mal mi correo electrónico hasta que revisé los detalles de mi reservación. Sin embargo, el informe que envié con el error fue acatado rápidamente y el error fue solucionado. Una atención bastante buena.</p>
                </div>
                <div class="panel-footer">
                    Alejandro Melo
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cliente Satisfecho
                </div>
                <div class="panel-body">
                    <p align="justify">Tuve un problema con la aerolínea por lo que debía cancelar mi reservación. Desde la página pude hacerlo inmediatamente y sin ningún problema hacia mí o hacia el hotel. Definitivamente, fue una forma muy sencilla de hacerlo.</p>
                </div>
                <div class="panel-footer">
                    Eloy Cutimbo.
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->